openapi: 3.0.0
info:
  title: FeedSpace API Documentation
  description: API documentation for FeedSpace
  version: 1.0.0
  contact:
    name: FeedSpace Support
    url: https://feedspace.io
servers:
  - url: https://api.feedspace.io
    description: Production server
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
security:
  - bearerAuth: []
tags:
  - name: Auth
    description: Contians endpoint for registration and login.
  - name: Workspaces/Projects
  - name: Audio Reviews
  - name: Video Reviews
  - name: Text Reviews
  - name: Wall of Love
  - name: Review forms
  - name: Import reviews
  - name: Import reviews > Self Import
paths:
  /token:
    post:
      tags:
        - Auth
      summary: Refresh Token
      description: >-
        The primary purpose of this request is to obtain an access token that
        grants authorization for subsequent API requests. By exchanging valid
        credentials, such as a refresh_token, clients can obtain an access token
        that serves as a bearer token for validating future requests.
      requestBody:
        content: {}
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /users:
    get:
      tags:
        - Auth
      summary: User Details
      description: >-
        The primary purpose of this request is to fetch detailed information
        about the user who is currently logged in and authenticated via OAuth.
        By accessing this endpoint, clients can retrieve user-specific data,
        including profile information, preferences, and other relevant details
        necessary for delivering personalized services.


        **Response:**  

        Upon successful authentication and authorization, the endpoint responds
        with a JSON object containing various attributes and details associated
        with the logged-in user. This may include but is not limited to user ID,
        username, email address, profile picture URL, and any additional custom
        attributes.
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /:
    get:
      tags:
        - Review forms
      summary: Get all review forms
      parameters:
        - name: fs-workspace-id
          in: header
          schema:
            type: string
          example: '{{unique_workspace_id}}'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Review forms
      summary: Create review form
      requestBody:
        content: {}
      parameters:
        - name: fs-workspace-id
          in: header
          schema:
            type: string
          example: '{{unique_workspace_id}}'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /{workspace_id}:
    post:
      tags:
        - Workspaces/Projects
      summary: Update Workspace
      description: >-
        The primary purpose of this request is to provide users with the
        capability to update existing workspaces according to their needs. By
        specifying the workspace ID and providing updated values for relevant
        attributes, users can effectively modify the properties of the
        workspace.
      requestBody:
        content: {}
      parameters:
        - name: workspace_id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /audio/{audio_feed_id}:
    get:
      tags:
        - Audio Reviews
      summary: Single Audio Review
      description: Get details of a specific audio feed based on audio feed ID
      parameters:
        - name: fs-workspace-id
          in: header
          schema:
            type: string
          example: '{{unique_workspace_id}}'
        - name: audio_feed_id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
        - Audio Reviews
      summary: Remove From Favourite
      description: >-
        The primary purpose of this request is to provide users with the
        capability to remove a specific audio feed to their favorites list. By
        sending a GET request to this endpoint with the ID of the audio feed,
        users can remove the audio feed as a favorite within their account.


        **Path Parameter:**


        - `{audio_feed_id}`: The unique identifier (ID) of the audio feed to be
        added to favorites.
      requestBody:
        content: {}
      parameters:
        - name: fs-workspace-id
          in: header
          schema:
            type: string
          example: '{{unique_workspace_id}}'
        - name: audio_feed_id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Audio Reviews
      summary: Soft Delete Review
      description: >-
        The primary purpose of this request is to provide users with the
        capability delete a specific audio feed from the list.


        **Path Parameter:**


        - `{audio_feed_id}`: The unique identifier (ID) of the audio feed to be
        added to favorites.
      parameters:
        - name: fs-workspace-id
          in: header
          schema:
            type: string
          example: '{{unique_workspace_id}}'
        - name: audio_feed_id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /video/{video_feed_id}:
    put:
      tags:
        - Video Reviews
      summary: Remove From Favourite
      description: >-
        The primary purpose of this request is to provide users with the
        capability to remove a specific video feed to their favorites list. By
        sending a GET request to this endpoint with the ID of the video feed,
        users can remove the video feed as a favorite within their account.


        **Path Parameter:**


        - `{video_feed_id}`: The unique identifier (ID) of the audio feed to be
        added to favorites.
      requestBody:
        content: {}
      parameters:
        - name: fs-workspace-id
          in: header
          schema:
            type: string
          example: '{{unique_workspace_id}}'
        - name: video_feed_id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Video Reviews
      summary: Soft Delete Review
      description: >-
        The primary purpose of this request is to provide users with the
        capability delete a specific video feed from the list.


        **Path Parameter:**


        - `{video_feed_id}`: The unique identifier (ID) of the audio feed to be
        added to favorites.
      parameters:
        - name: fs-workspace-id
          in: header
          schema:
            type: string
          example: '{{unique_workspace_id}}'
        - name: video_feed_id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /text/{text_feed_id}:
    put:
      tags:
        - Text Reviews
      summary: Remove From Favourite
      description: >-
        The primary purpose of this request is to provide users with the
        capability to add a specific text feed to their favorites list. By
        sending a GET request to this endpoint with the ID of the text feed,
        users can mark the text feed as a favorite within their account.


        **Path Parameter:**


        - `{text_feed_id}`: The unique identifier (ID) of the audio feed to be
        added to favorites.
      requestBody:
        content: {}
      parameters:
        - name: fs-workspace-id
          in: header
          schema:
            type: string
          example: '{{unique_workspace_id}}'
        - name: ''
          in: query
          schema:
            type: string
        - name: text_feed_id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    delete:
      tags:
        - Text Reviews
      summary: Soft Delete Reviews
      description: >-
        The primary purpose of this request is to provide users with the
        capability to add a specific text feed to their favorites list. By
        sending a GET request to this endpoint with the ID of the text feed,
        users can mark the text feed as a favorite within their account.


        **Path Parameter:**


        - `{text_feed_id}`: The unique identifier (ID) of the audio feed to be
        added to favorites.
      parameters:
        - name: fs-workspace-id
          in: header
          schema:
            type: string
          example: '{{unique_workspace_id}}'
        - name: ''
          in: query
          schema:
            type: string
        - name: text_feed_id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /feeds:
    get:
      tags:
        - Wall of Love
      summary: Get All Reviews (For WoL)
      parameters:
        - name: fs-workspace-id
          in: header
          schema:
            type: string
          example: '{{unique_workspace_id}}'
        - name: filter[feed-types][0]
          in: query
          schema:
            type: string
          example: text
        - name: filter[feed-types][1]
          in: query
          schema:
            type: string
          example: social
        - name: filter[favourite]
          in: query
          schema:
            type: integer
          example: '1'
        - name: filter[feed-forms][0]
          in: query
          schema:
            type: integer
          example: '10397'
        - name: filter[imported-froms][0]
          in: query
          schema:
            type: integer
          example: '11'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /{page_id}:
    post:
      tags:
        - Wall of Love
      summary: Update Promotion
      description: >-
        The primary purpose of this request is to provide users with the
        capability to update the attributes and settings of a specific promotion
        within their account. By specifying the promotion ID and providing
        updated parameters, users can modify the characteristics of the
        promotion to reflect changes in their branding, messaging, or content
        strategy.
      requestBody:
        content: {}
      parameters:
        - name: fs-workspace-id
          in: header
          schema:
            type: string
          example: '{{unique_workspace_id}}'
        - name: page_id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /{feed_form_id}:
    get:
      tags:
        - Review forms
      summary: Get single review form
      parameters:
        - name: fs-workspace-id
          in: header
          schema:
            type: string
          example: '{{unique_workspace_id}}'
        - name: feed_form_id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Review forms
      summary: Update review form
      requestBody:
        content: {}
      parameters:
        - name: fs-workspace-id
          in: header
          schema:
            type: string
          example: '{{unique_workspace_id}}'
        - name: feed_form_id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /self-imports/text-review:
    post:
      tags:
        - Import reviews > Self Import
      summary: Import Text Review
      requestBody:
        content: {}
      parameters:
        - name: fs-workspace-id
          in: header
          schema:
            type: string
          example: '{{unique_workspace_id}}'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /self-imports/video-review:
    post:
      tags:
        - Import reviews > Self Import
      summary: Import Video Review
      requestBody:
        content: {}
      parameters:
        - name: fs-workspace-id
          in: header
          schema:
            type: string
          example: '{{unique_workspace_id}}'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
